body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

main {
  width: 600px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: #2b2b2b;
}

/* Header Style */

.header {
  color: rgb(255, 255, 255);
  padding: 8px;
  margin: 0;
  font-size: 32px;
}

/* input Text Form Style */

.input--form {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.form--label {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(34, 35, 38);
  padding: 8px 12px;
  border-radius: 8px;
  overflow: hidden;
}

.form--input {
  flex: 1 0 auto;
  background: transparent;
  color: rgb(255, 255, 255);
  padding: 0px;
  border: 0px;
  outline: none;
  margin: 0px;
  appearance: none;
  caret-color: rgb(248, 47, 98);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
}

.form--img {
  flex: 0 0 auto;
  color: #84868d;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.form--btn {
  flex: 0 0 auto;
  color: rgb(132, 134, 141);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* ResultList Style */

.result--list {
  width: 400px;
  background-color: #909090;
  margin: 0 auto;
  padding: 12px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
  display: block;
  color: white;
  font-weight: 600;
}

.list--ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--li {
  padding: 12px;
}

.list--li:hover {
  background-color: #c1c1c1;
}

.list--li.active {
  background-color: #c1c1c1;
}
